@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: Rubik, sans-serif;
}

.btnaux{
  top: 50%;
  left: 50%;   
  padding: 10px 20px;
  font-size: 16px;
  position: fixed;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #6c757d;
  color: #6c757d;
  transition: background-color 0.3s, color 0.3s;   
}

#esconderText{
    -webkit-text-security: disc;
}

.bodyIndex {
  background-image: url(../img/Fondolog.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 0px;  
}

#Logo {
  width: 100%;
  height: 10%;
  margin-bottom: 3%;
}

.MenuPrincipal {
  width: 40%;
  background-color: rgba(196, 196, 196, 0.308);
  padding: 1%;
  border-radius: 3%;
  margin: 40px 36% 10px 36%;
  padding-top: 3%;
  padding-bottom: 1%;
}

.btn-danger {
  margin-top: 5%;
}

#boton6:hover{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.mb-3 {
  padding: 3%;
  color: white;
}

.headermenu{
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;  
}
:root {
  --blanco: #E0E0E0;
  --azulopac: #184463;
  --menu: #003053;
  --bg-body: #c7e1ff;
}


#MenuPrincipal {
  background-image: url('../img/fondomenu.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
  left: 0px;
  top: 0px;
}

.menu {
  padding: 0;
  margin: 0;
  position: fixed;
  padding-left: 0px;  
}

.bodymenu {
  display: flex;          
  margin: 0;
  position: relative;
  font-family: Rubik, sans-serif;
  color: var(--blanco);
}

.menu-dashboard {
  max-width: 90px;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--menu);
  padding: 25px;
  transition: max-width .3s ease;
  margin-top: 0px;
  position: fixed;
  z-index: 3;
}

.top-menu {
  margin-bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.onlyTXT{
    background-color: transparent;
    border: none; 
    font-size: 20px;
    cursor: pointer;
}

.top-menu .logo {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.top-menu .logo span {
  font-size: 20px;
  margin-left: 10px;
  display: none;
}

.top-menu .toggle {
  width: 30px;
  height: 20px;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;  
}

.top-menu .toggle i {
  font-size: 35px;
} 


.elementmenu .enlace {
  width: 130%;
  padding: 30px 0px 30px 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: all .3s ease;
}

.elementmenu .enlace:hover {
  background: var(--azulopac);
}

.elementmenu .enlace i {
  margin-right: 20px;
  font-size: 25px;
}

.elementmenu .enlace span {
  opacity: 0;
  transition: opacity .3s ease;
}

.menu-dashboard.open {
  position: fixed;
  max-width: 300px;
  z-index: 3;
}

.menu-dashboard.open .top-menu .logo span {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.menu-dashboard.open .elementmenu .enlace {
  width: auto;
  padding: 30px 0px;

}

.menu-dashboard.open .elementmenu .enlace span {
  opacity: 1;
  padding: 50px 5px;
}

.btnnavBuscar{
    margin-left: 5px;
    
}

.bg-body-tertiary {
  display: flex;
  position: fixed;
  right: 0;
  width: 78%;
  z-index: 1;
}

.titulonavbar {
  font-family:Impact;
  border: solid white 2px;
  position: fixed;
  background-color:dodgerblue;
  padding: 15px;
  top: 1px;
  left: 10%;
  color: white;
}

.btn-outline-success { 
  background-color: white;
  color: var(--azulopac);
  border-color: var(--azulopac);
}

#btnAcept{
  margin-top: 15%;
  width: 400px;
}

.btn-outline-success:hover {
  background-color: #0d6d00;
  border-color: #0d6d00;
}

section {
  display: none;
}

section:target {
  display: block;
}

.enlace span {
  text-decoration: double;
  color: var(--bg-body);
}

.modal-content {
  color: #003053;
  background-color: #D3EBEC;
}

.btn-navbar {
  margin: 0px 10px 0px 30px;
  background-color: #184463;
  color: white;
}


#opcion5 {
  width: 100px;
}

.nav-item{
  list-style-type: none;
}

.inputBusquedaProd{
    justify-content: right;
    margin-top: 6.5%;
}

.tablita {
    border: solid 2px black;
    border-collapse: collapse;
    width: 100%; 
    height: 100%;
    background-color: #003053;
    color: aliceblue;
    table-layout: fixed;
}

#searchInput {
    margin-left: 12%;
}

#client {
    margin-top: 80px; 
}

#produc{
     margin-top: 80px;
}

.tablita th {
   position: sticky;
    top: 0;
    background-color: #cbbfff;
    color: #000000;
    z-index: 2;
    border: 2px solid black;
    text-align: center;
    padding: 8px;
}

.tablita td {
    border: 2px solid black;
    text-align: center;
    padding: 8px;
}

.table-container {
    position: relative;
    width: 90%; 
    margin: 5% auto; 
    margin-right: 5px;
    max-height: 90vh; 
    overflow-y: auto;
    overflow-x: auto;
}

.table-container-prod{
    position: relative;
    width: 90%; 
    margin: 1% 2% 10% auto; 
    max-height: 85vh; 
    overflow-y: auto;
    overflow-x: auto;
    
}


.table-container #tablaDr {
    margin-right: 10px;
    margin-bottom: 10%;    
}    

.tablita tbody tr:nth-of-type(odd) {
  background-color: #184463;
}

.Columnas {
  table-layout: fixed;
  border: solid 2px black;
  text-align: center;
}

.Col-cod-lista{
    width: 5%;  
}

.col-cod-prod{
    width: 10%;
}

.Col-descrip{
    width: 30%;
}

col-precio{
    width: 20%;
}

td {
  height: 30px;
  
}

.btn-outline-primary {
  position: fixed;
  bottom: 8%;
}

.mb-3config {
  position: fixed;
  left: 37%;
}

.label2 {
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #003053;
  color: white;
  position: relative;
  text-align: center;
  width: 400px;
  padding: 5%;
}

.inputConfig {
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  right: 3%;
  text-align: center;
}

.labelConfig {
  margin-top: 10px;
  margin-bottom: 10px;
}

#importe{
    display: flex;
    justify-content: center; 
    margin-left: 10%;
    padding-top: 10px;
}


.btnremito {
  top: 90%;
  left: 50%;   
  padding: 10px 20px;
  font-size: 16px;
  position: fixed;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #6c757d;
  background-color: transparent;
  color: #6c757d;
  transition: background-color 0.3s, color 0.3s;
}


.modif {
  width: 400px;
  height: 60%;
  margin-left: 40%;
}

.modal-body {
  position: relative;
  display: block;
}

#cargarRem{
    width: 105%;
}

.ancho{
    width: 70px;
} 

.anchoId{
    width: 100px;
}

.anchoNomb{
    width: 300px;
}

.importeProd{
    width: 90px
}

.btnEliminarLinea{
    border-radius: 5px;
    border-color: #1c1c1c;
}

.btnEliminarLinea:hover{
background-color: red;
color: white;
transition: background-color 0.4s, color 0.4s;   
}


.cancelDeuda-importe {
  width: 30vh;
  padding-left: 25px; /* Espacio para el símbolo de peso */
  text-align: right;
  border-radius: 3px;
}

.col{
  color: #000000;
}

#importe-total{
  width: 150px;
}

.importefinal{
  margin-left: 50%;
  margin-bottom: 30px;
  width: 150px;
}

.form-group-inline label {
  margin-bottom: 0; /* Elimina el margen inferior del label */
}

.paginacion {
    position: absolute;
    display: flex;
    left: 6.5%;
    bottom: -0.5%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 94%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    margin-top: 0px;
    border-top: 1px solid #ccc;
}

.paginacion a,
.paginacion span {
    padding: 3px 8px;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #003053;
    background-color: white;
    font-weight: bold;
}

.paginacion a:hover {
    background-color: #dceeff;
}

.paginacion .pagina-activa {
    background-color: #003053;
    color: white;
}

#boton9{
  border: 0px;
  margin-left: 60px;
  padding: 7px 15px;
}

#boton9:hover{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

#boton5, #boton6, #boton9, #boton11{
  width: 150px;
}

#boton14{
    background-color: #c82333;
}

#boton13{
    position: fixed;
    z-index: 10;
    margin-top: 8px;
    margin-left: 63%;
}
#dniModi{
    margin-left: 2.5%;
}

.form-modif {
    position: fixed;               
    top: 50%;                       
    left: 50%;                      
    transform: translate(-50%, -50%); 
    width: 90%;                     
    max-width: 500px;              
    padding: 20px;                
    background-color: #f2f2f2;     
    border-radius: 8px;            
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box;   
}
.form-select{
    width: 220px;
    height: 30px;
    display: inline-block;
    vertical-align:middle;
    font-size: 12px;
}

.tablaCC{
    border: solid 2px black;
    border-collapse: collapse;
    width: 90%;
    background-color: #003053;
    color: aliceblue;
    table-layout: fixed;
    position:fixed; 
    left: 7%;
    top: 18%;
    right: 4%;
    z-index: 1;
}

.comboBox{
    position: fixed;
    top: 70px;  
    left: 139px; 
    width: 900px;
    height: 40px;
    z-index: 1; 
    color: black;
}

.lblCli{
    vertical-align:middle;
    font-size: 16px;
}

.me-2{
    margin-left: 12%;
}

.btnSel{
    display: inline-block;
    position: fixed;
    height: 30px;
    vertical-align:middle;
    top: 70px;
    left: 450px; 
    background-color:yellowgreen;
}

#ancho{
    width: 60px;
}

.cabecRemito{
 padding: 2%;
}

.cabecRemito label{
    color: rgba(66,66,66);
    background-color: rgba(300, 300, 300, 0.8);
    padding: 4px;
    border: solid 2px rgba(66,66,66);
    border-radius: 10px;
}

#listaResultados{
    margin-top: 1%;
    margin-left: 3%;
    position: relative;
    width: 94%;
    border: 1px solid rgba(169, 169, 169, 0.6) ;
}

#buscarProducto{
    position: relative;
    margin-left: 3%;
    border: 1px solid rgba(169, 169, 169, 0.6) ;
}

#codigoProducto{
    position: relative;
    margin-left: 21%;
    border: 1px solid rgba(169, 169, 169, 0.6) ;
}

.fondoRem{
 margin-top: 70px;
 margin-left: 29%;
 width: 800px;
 height: 150px;
 display: flex;
 position: fixed;
 background-color: rgba(20, 75, 110, 0.5);
 border-radius: 10px;
 box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

.modal-bodyCabec{
    display: flex;
}

.divCabec{
    margin: 2%;
    width: 25%;
}

.selecExcel{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 40px;
    background-color: white;
    border: solid 1px #000000;
    color: black;
    
}

#boton7{
    width: 140px;
    height: 58px;
    margin-top: 1px;
}

#boton10 {
    width: 113px;
    height: 58px;
    margin-top: 8.5px;
}

#botonImportar{
    display: flex;
    justify-content: center;
    margin: 4px auto auto auto; 
}

.buscarProd{
    height: 35px;
    width: 170px;
    margin-top: 10px;
    margin-left: 0px
}

#tablaDr{
    top: 40%;
}

#boton8{
    display: flex;
    position: fixed;
    top: 90%;
    left: 55%;
    font-size: 16px;
    padding: 10px 20px;
}

#cancelarEliminacion{
    display: flex;
    position: fixed;
    top: 90%;
    left: 45%;
    font-size: 16px;
    padding: 10px 20px;
}

.cancel{
    background-color:gray;
    border-color: gray;
    color: white;
}

.cancel:hover{
  background-color:#0d6efd;
  border-color: #0d6efd;
}

#confirmarEliminacion {
    display: flex;
    position: fixed;
    top: 79.5%;
    left: 55%;
    font-size: 16px;
    padding: 10px 20px;
}

#boton8{
  display: flex;
  position: fixed;
  left: 55%;
  top: 90%;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #0d6d00;
  border-color: #0d6d00;
  color: white;
}

#boton8:hover{
  background-color: #0d6d00;
  border-color: #0d6d00;
}

.detCargaRemito{
    padding-top: 0px !important;
}

.cabeceraCargaRemito{
    padding-bottom: 0px !important;
}

.body-eliminar-prod{
    display: flex;
    justify-items: center;
}
.select-cod-lista {
    display: flex;
}
.input-carga-cod-lista{
    justify-items: center;
}
.input-carga-cod-lista input{
    margin-top: 8px;
}

.select-formaPago{
    width: 80%
}

.items-body-cancelDeuda{
   margin-bottom: 1rem;
   width: 30vh;
   margin-left: 35px;
}

.form-select-formaPago{
    width: 100%;
    height: 30px;
    display: inline-block;
    vertical-align:middle;
    font-size: 12px;
    margin-top: 15px;
}


#chequeFields {
  display: none;
  border: 1px solid red;
  min-width: 150px;/* Fuerza que esté oculto al inicio */
}
.cancelDeuda-cheque {
  width: 30vh;
  margin-right: 15px;
}
/* Consultas de medios para hacer el diseño responsivo */
@media (max-width: 768px) {
  .MenuPrincipal {
      width: 90%;
      margin: 20px auto;
  }

  .bodymenu {
      font-size: 0.9em;
  }

  .menu-dashboard {
      max-width: 70px;
  }

  .menu-dashboard.open {
      max-width: 250px;
  }

  .btn-outline-secondary {
      margin-left: 30%;
      font-size: 20px;
  }

  #client, #cuentcorr, #prod, #configcuenta {
      left: 10%;
      top: 15%;
      width: 80%;
  }

  .label2, .btn-success, .modif {
      width: 80%;
      margin-left: 10%;
  }
}

@media (max-width: 480px) {
  .MenuPrincipal {
      width: 100%;
      margin: 10px auto;
  }

  .bodymenu {
      font-size: 0.8em;
  }

  .menu-dashboard {
      max-width: 60px;
  }

  .menu-dashboard.open {
      max-width: 200px;
  }

  .btn-outline-secondary {
      margin-left: 20%;
      font-size: 18px;
  }

  #client, #cuentcorr, #prod, #configcuenta {
      left: 5%;
      top: 20%;
      width: 90%;
  }

  .label2, .btn-success, .modif {
      width: 90%;
      margin-left: 5%;
  }
}